# Ambiente Virtual Python
venv/
.venv/

# Pasta de resultados do Robot Framework
results/

# Arquivos de compilação Python
*.pyc
__pycache__/

# Arquivos de ambiente
.env

# Arquivos do PyCharm
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
